/* #box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}
#box2{
    height: 50px;
    width: 30%;
    width: 50px;
    background-color: yellow;
    margin-left: 20%;
    font-size: 2em;
    width: 5rem;
    height: 100vh;
} */
div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
/* #box1{
    position: static;
    top: 50px;
    bottom: 50px;
}
#box2{
    position: relative;
    top: 20px;
    left: 10px;
}
#box3{
    position: absolute;
    top: 500px;
    left: 20px;
}
#box4{
    position: fixed;
    top: 50px;
    right: 10px;
    bottom: 20px;
    width: 100vw;
} */

#box1{
    background-image: url("Vaishnavi.jpg");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}
