.navbar {
    background-color: pink;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: red;
    /* background-color: aqua; */
}
li {
    list-style-type: none;
    display: inline;
    /* background-color: white; */
}
.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    border: 2px solid black;
}